<section>
<form class="new-post-form">
  <div class="card shadow p-3 mb-5">
    <h5 class="card-header">✍️ Create New Post</h5>
    <div class="content-form">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title:</label>
        <input id="post-title" type="text" class="form-control" name="post-title">
      </div>
      <div class="mb-3">
        <label for="post-title" class="form-label">Body:</label>
        <textarea class="form-control" id="post-url" name="post-url" rows="6"></textarea>
        <div class="d-grid gap-2">
          <button id= "post-submit-btn" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  </br>
  <ol class="personal-posts">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button type="submit" id="edit-btn" class="btn btn-primary btn-sm"><a href="/dashboard/edit/{{post.id}}">Edit post</a></button>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>