<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
<div class="card">
  <div class="card-body">
     <h5 class="card-title"> <input name="post-title" type="text" value="{{post.title}}"x/></h5>
      </div>
      <div class="card-body">
        <textarea class="visible-xs" rows="4" id="text-box-content" name="post-title" type="text">{{post.content}}</textarea>
      </div>
  </div>
</div>
  </form>
  <button type="submit">Save post</button>
  <button type="button" class="delete-post-btn">Delete post</button>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>