{{!-- Login form start --}}
<div class="card shadow p-3 mb-5">
  <h5 class="card-header">Login</h5>
<form class="login-form">
  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="text" class="form-control" id="email-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <div class="d-grid gap-2">
  <button type="submit" class="btn btn-primary">Login</button>
  </div>

  <button type="button" id="signup-btn" class="btn btn-warning btn-sm"><a href="/signup">Signup Instead!</a></button>
</form>
</div>
{{!-- Login form end --}}
<script src="/javascript/login.js"></script>