{{!-- Displays single post on individual page -- Using post-info partial --}}
{{> post-info post }}

{{!-- Hide display of comments if user is not logged in --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary btn-sm">add comment</button>
    <button id= "upvote" type="button" class="btn btn-success btn-sm">Up-Vote 👍</button>
  </div>
</form>
{{/if}}

{{!-- Comment form that lists each comment for a post --}}
<div class="comments">
  {{#each post.comments}}
  <div class="card">
  <div class="card-header">
    <h6 class="card-title">{{user.username}} on {{created_at}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{comment_text}}</p>
  </div>
</div>
</br>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

